*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20%;

}
button{
   padding: 20px;
   border-radius: 40px;
   text-transform: uppercase;
   background: linear-gradient(red, yellow);
   transition: width 2s, height 4s;
   /* width: 300px; */

}
button a{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px;
    font-size: 24px;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
    cursor: pointer;
    transition-delay: 2s;
}
a:hover {
    background-color: white;
    color: blueviolet;
}
@media only screen and (max-width: 320px) {
    body {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-color: lightblue;
        justify-content: center;
    }
}